<h1>Recipe Results</h1>

<p>You entered "{{ userIngredients }}"</p>

<p>Here's a healthy recipe using your ingredients.</p>

<h2>{{ recipeJson.recipeName }}

<h3>Description</h3>
<p>{{ recipeJson.description }} </p>

<h3>Ingredients</h3>

<ul>
{{#each recipeJson.ingredients}}
<li>{{this}}</li>
{{/each}}
</ul>

<h3>Instructions</h3>
<ul>
    {{#each recipeJson.instructions}}
    <li>{{this}}</li>
    {{/each}}
</ul>